* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

body {
  color: white;
  background: #09001d;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100px;
}

.logo {
  font-size: 32px;
  color: rgb(2, 17, 28);
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px #000000f7);
}

.navbar a {
  font-size: 15px;
  color: rgba(3, 113, 147, 0.861);
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  /* transition: 0.5s; */
}

/* .navbar a:hover,
.navbar a.active {
  color: #2ce407;
} */

.main {
  min-height: 100vh;
  background: url("images/bg6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: 3s ease;
}

.main.active {
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  height: 100%;
  width: 100%;
  color: rgb(2, 17, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 30px;
  font-weight: 700px;
  text-shadow: 0 0 10px goldenrod;
  color: rgb(238, 235, 235);
}

.home-content p {
  font-stretch: condensed;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  color: rgb(51, 15, 78);
  padding-left: 30px;
}

.home-content .start-btn {
  font-size: 15px;
  width: 140px;
  height: 40px;
  border: 3px solid rgb(88, 64, 3);
  background-color: rgb(2, 17, 28);
  border-radius: 6px;
  outline: none;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.97);
  color: rgb(228, 166, 7);
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.home-content .start-btn:hover {
  background: url("images/bg8.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(23, 3, 62);
  box-shadow: 0 0 10px gold;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: url("images/bg8.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: rgb(120, 106, 26);
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid gold;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: pink;
  border: 2px solid rgb(111, 14, 30);
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: rgb(51, 15, 78);
  color: goldenrod;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: url("images/bg14.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border-color: green;
  border: 3px solid rgb(31, 37, 31);
  color: rgb(19, 19, 23);
  font-size: 20px;
  cursor: pointer;
}

.popup-info .btn-group .info-btn:nth-child(2) {
  background: rgb(51, 15, 78);
  color: goldenrod;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: url("images/bg14.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border-color: green;
  border: 3px solid rgb(31, 37, 31);
  color: rgb(19, 19, 23);
  font-size: 20px;
}

.quiz-section {
  position: relative;
  left: -50%;
  width: 100%;
  color: white;
  background: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.8s ease-in-out;
  transition-delay: 0.3s;
}

.quiz-section.active {
  left: 0;
}

.quiz-section .quiz-box {
  position: relative;
  margin: 0;
  width: 250px;
  background: transparent;
  border: 1px solid #c40094;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  box-shadow: 0 0 5px rgb(4, 235, 4);
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: 0.3s ease;
  transition-delay: 0s;
}

.quiz-section .quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 0.3s;
}

.quiz-box h1 {
  /* font-size: 32px; */
  text-align: center;
  background: linear-gradient(45deg, transparent, #c40094, transparent);
  border-radius: 6px;
  box-shadow: 0 0 10px gold;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #c40094;
  margin-bottom: 30px;
}

.container .quiz-section .quiz-box .quiz-header span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 18px; */
  font-weight: 500;
}

.quiz-header .header-score {
  background: #b9068c;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 0 5px gold;
}

.quiz-box .question-text {
  /* font-size: 24px; */
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  /* font-size: 17px; */
  margin: 15px 0;
  cursor: pointer;
}

.option-list .option.correct {
  background: #09001d;
  color: #00a63d;
  border-color: #00a63d;
}

.option-list .option.incorrect {
  background: #09001d;
  color: #a60016;
  border-color: #a60016;
}

.option-list .option.disabled {
  pointer-events: none;
}

.option-list .option:hover {
  background: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #c40094;
  padding-top: 20px;
  margin-top: 25px;
}

.quiz-footer .question-total {
  /* font-size: 16px; */
  font-weight: 600;
}

.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  /* font-size: 16px; */
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  box-shadow: 0 0 5px gold;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s;
}

.quiz-footer .next-btn.active {
  pointer-events: auto;
  background: #c40094;
  border-color: #c40094;
  color: rgb(19, 164, 75);
}

.quiz-footer .next-btn.active:hover {
  background: #950170;
  border-color: #01011f;
  color: #01011f;
}

.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: transparent;
  border: 3px solid #c40094;
  border-radius: 6px;
  box-shadow: 0 0 10px goldenrod;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.quiz-section .result-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
  font-size: 50px;
}

.result-box .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.percentage-container .circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  border-radius: 50%;
  box-shadow: 1px 1px 50px #aa0cc9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-container .circular-progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: #09001d;
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage-container .score-text {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}

.result-box .buttons {
  display: flex;
}

.result-box .buttons button {
  width: 150px;
  height: 45px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.result-box .buttons button:nth-child(1):hover {
  background: transparent;
  color: #d8e3e5;
  box-shadow: 0 0 10px gold;
}

.result-box .buttons button:nth-child(2) {
  background: transparent;
  color: #c40094;
}

.result-box .buttons button:nth-child(2):hover {
  background: #c40094;
  color: #fff;
  box-shadow: 0 0 10px gold;
}

@media (min-width: 450px) {
  .home-content h1 {
    font-size: 2.7rem;
  }

  .home-content.start-btn {
    font-size: 20px;
    width: 150px;
    height: 45px;
    border: 3px solid rgb(88, 64, 3);
    background-color: rgb(2, 17, 28);
    border-radius: 7px;
  }

  .navbar a {
    font-size: 1.5rem;
  }

  .home-content p {
    font-size: 1.3rem;
  }

  .quiz-section .quiz-box {
    width: 300px;
    height: auto;
    border: 2px solid #c40094;
    border-radius: 6px;
    padding: 5px 14px;
    box-shadow: 0 0 6px rgb(4, 235, 4);
    font-size: 0.9rem;
  }
}

@media (min-width: 700px) {
  .home-content h1 {
    font-size: 3.2rem;
  }
  .home-content p {
    font-size: 1.5rem;
  }

  .home-content.start-btn {
    font-size: 30px;
    width: 180px;
    height: 50px;
    border: 4px solid rgb(88, 64, 3);
    background-color: rgb(2, 17, 28);
    border-radius: 9px;
  }
  .quiz-section .quiz-box {
    width: 400px;
    border: 2px solid #c40094;
    border-radius: 7px;
    padding: 8px 17px;
    box-shadow: 0 0 5px rgb(4, 235, 4);
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .quiz-section .quiz-box {
    width: 500px;
    border: 3px solid #c40094;
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 0 0 10px rgb(4, 235, 4);
    font-size: 1.3rem;
    /* margin: 20px 0; */
  }
}
